.ftitle {
	 margin-bottom: 10px;
	 font-weight: bold;
	 line-height: 20px;
	 text-align: center;
	 color: #fff;
	 background-color: #1fb100;
	}

.list {
 margin: 10px 0;
 text-align: center;
}

	.list a {
	 font-weight: bold;
	}

.tablecontainer {
 margin-bottom: 20px;
}

	.tablecontainer table {
	 margin: 0 auto;
	 border: 0;
	 border-collapse: collapse;
	}

		.tablecontainer table th, .tablecontainer table td {
		 padding: 2px;
		 height: 20px;
		 border: 1px solid #000;
		 color: #333;
		 font-family: Verdana, Arial, Sans-Serif;
		 font-size: 12px;
		 font-style: normal;
		 font-weight: normal;
		 text-decoration: none;
		 text-align: center;
		 line-height: 20px;
		}

		.tablecontainer table th {
		 background-color: #eee;
		 font-weight: bold;
		}

		.tablecontainer table th.grouptitle {
		 background-color: #009fd9;
		 color: #fff;
		}

		.tablecontainer table th.teamname {
		 padding-left: 10px;
		 width: 130px;
		 text-align: left;
		}

		.tablecontainer table th.teamname.long {
		 width: 175px;
		}

		.tablecontainer table th.teamno {
		 width: 50px;
		}

		.tablecontainer table th.stats {
		 width: 25px;
		}

		.tablecontainer table th.statsl {
		 width: 50px;
		}

		.tablecontainer table td {
		 height: 40px;
		}

		.tablecontainer table.single td {
		 height: 20px;
		}

		.tablecontainer table td.teamname {
		 padding-left: 10px;
		 background-color: #fafafa;
		 text-align: left;
		}

			.tablecontainer table td.teamname.finalist {
			 background-color: #cfc;
			 font-weight: bold;
			}

			.tablecontainer table td.teamname.qualifier {
			 background-color: #ccf;
			 font-weight: bold;
			}

			.tablecontainer table td.teamname.beta {
			 background-color: #ffc;
			 font-weight: bold;
			}

			.tablecontainer table td.teamname.jc {
			 background-color: #fcc;
			 font-weight: bold;
			}

		.tablecontainer table td.blocked {
		 background-color: #666;
		}

		.tablecontainer table td.match {
		 font-size: 11px;
		 line-height: 17px;
		}

			.tablecontainer table.single td.match .match {
			 line-height: 20px;
			}

			.tablecontainer table td.match .match.notplayed {
			 color: #999;
			}

				.tablecontainer table td.match .match a {
				 font-weight: bold;
				}

.playoffcontainer {
 margin-bottom: 20px;
}

.playoffcontainer.r3 {
 margin: 0 auto;
 margin-bottom: 20px;
 width: 660px;
}

	.playoffcontainer .round {
	 float: left;
	 margin-right: 20px;
	 width: 200px;
	}

		.playoffcontainer .round .matchcontainer {
		 width: 200px;
		 border: 1px solid #000;
		}

			.playoffcontainer .round .matchcontainer .header {
			 width: 196px;
			 padding: 2px;
			 height: 16px;
			 line-height: 16px;
			 border-bottom: 1px solid #000;
			 background-color: #009fd9;
			 color: #fff;
			 font-weight: bold;
			}

			.playoffcontainer .round .matchcontainer .matchline {
			 width: 200px;
			 height: 41px;
			}

				.playoffcontainer .round .matchcontainer .matchline .qualifiers {
				 float: left;
				 width: 39px;
				 border-right: 1px solid #000;
				 background-color: #eee;
				}

				.playoffcontainer .round .matchcontainer .matchline .teams {
				 float: left;
				 width: 120px;
				 border-right: 1px solid #000;
				}

				.playoffcontainer .round .matchcontainer .matchline .result {
				 height: 40px;
				 line-height: 40px;
				 font-weight:bold;
				 text-align: center;
				}

					.playoffcontainer .round .matchcontainer .matchline .result.mline {
					 line-height: 20px;
					}

					.playoffcontainer .round .matchcontainer .matchline .result a {
					 font-weight: bold;
					}

					.playoffcontainer .round .matchcontainer .matchline .qualifiers .qualifier,
					.playoffcontainer .round .matchcontainer .matchline .teams .team {
					 padding: 2px;
					 height: 16px;
					 line-height: 16px;
					 color: #333;
					}

					.playoffcontainer .round .matchcontainer .matchline .qualifiers .qualifier.top,
					.playoffcontainer .round .matchcontainer .matchline .teams .team.top {
					 border-bottom: 1px solid #000;
					}

					.playoffcontainer .round .matchcontainer .matchline .qualifiers .qualifier {
					 font-size: 11px;
					 font-weight: bold;
					 text-align: center;
					}

					.playoffcontainer .round .matchcontainer .matchline .teams .team.winner {
					 text-decoration: underline;
					}

		.playoffcontainer .round .matchspacer {
		 width: 200px;
		 height: 20px;
		}

			.playoffcontainer .round .matchspacer.space2 {
			 height: 40px;
			}

			.playoffcontainer .round .matchspacer.space5 {
			 height: 100px;
			}