body {
 margin: 0;
 padding: 0;
 height: 100%;
 background: #abe0f2 url('../images/bg.gif') repeat-x top left;
 color: #333;
 font-family: Verdana, Arial, Sans-Serif;
 font-size: 12px;
 font-style: normal;
 font-weight: normal;
 text-decoration: none;
 text-indent: 0;
}

a {
 color: #009fd9;
 font-family: Verdana, Arial, Sans-Serif;
 font-size: 12px;
 font-style: normal;
 font-weight: normal;
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

.clearer {
 clear: both;
}

#container {
 margin: 10px auto;
 width: 958px;
}

#topline {
 height: 8px;
 background: url('../images/bg_topline.png') no-repeat top left;
}

#bottomline {
 height: 8px;
 background: url('../images/bg_bottomline.png') no-repeat top left;
}

#main {
 background-color: #fff;
}

#headcontainer {
 margin-right: 10px;
 height: 250px;
}

	#logo {
	 float: left;
	}

		#logo img {
		 border: 0;
		}

	#header {
	 float: left;
	 width: 663px;
	 color: #fff;
	 font-size: 14px;
	 font-weight: bold;
	 text-align: center;
	}

		#menu {
		 height: 35px;
		 background: #1fb100 url('../images/bg_menu.png') no-repeat top left;
		 line-height: 35px;
		}

			#menu a {
			 color: #fff;
			 font-size: 14px;
			 font-weight: bold;
			 text-decoration: none;
			}

			#menu a:hover {
			 color: #ffc;
			}

		#newsline {
		 height: 190px;
		}

			#newsline .news {
			 float: left;
			 width: 468px;
			 padding-top: 10px;
			 color: #333;
		     font-family: Verdana, Arial, Sans-Serif;
			 font-size: 12px;
			 font-style: normal;
			 font-weight: normal;
			 text-decoration: none;
			 text-indent: 0;
			 text-align: left;
			}

			#newsline .partners_label {
			 float: left;
			 width: 14px;
			 height: 152px;
			 margin-top: 4px;
			 margin-right: 1px;
			 padding-top: 30px;
			 background-color: #009fd9;
			 font-family: Verdana, Arial, Sans-Serif;
			 font-size: 12px;
			 font-style: normal;
			 font-weight: normal;
			 text-decoration: none;
			 text-indent: 0;
			 text-align: center;
			}

			#newsline .partners {
			 float: left;
			 width: 180px;
			 padding-top: 3px;
			}

				#newsline .partners .pblock {
				 margin-top: 1px;
				}

					#newsline .partners .pblock img {
					 margin: 0;
					 padding: 0;
					 border: 0;
					}

		#title {
		 height: 25px;
		 padding-left: 10px;
		 background: #009fd9 url('../images/bg_title.png') no-repeat top left;
		 text-align: left;
		 line-height: 25px;
		}

			#title img {
			 border: 0;
			}

			#title a.rss {
			 display: block;
			 float: right;
			 margin-right: 3px;
			 //margin-top: -25px;
			}

#content {
 padding: 5px 10px 2px 35px;
}

	#content .submenu {
	 margin: 0 0 5px 250px;
	 padding: 5px;
	 text-align: right;
	 background-color: #eee;
	}

	#content .submenu a {
	 font-weight: bold;
	}

#footer {
 margin-top: 5px;
 height: 20px;
 background: url('../images/bg_footer.png') no-repeat top left;
 color: #fff;
 font-size: 9px;
 text-align: center;
 line-height: 20px;
}

	#contact, #copyright {
	 float: left;
	 padding: 0 10px;
	 width: 170px;
	 height: 20px;
	}

	#copyright {
	 width: 200px;
	}

	#footermenu {
	 float: left;
	 width: 548px;
	 height: 20px;
	}

	#footermenu a {
	 color: #fff;
     font-size: 9px;
	 text-decoration: underline;
	}