	.calendarcontainer .rtitle {
	 color: #fff;
	 background-color: #009fd9;
	 text-align: center;
	 line-height: 20px;
	}

	.calendarcontainer .round {
	 margin: 2px 0;
	}

	.calendarcontainer .rnote {
	 font-size: 11px;
	}

		.calendarcontainer .rnote .dq-red, .calendarcontainer .rnote .dq-yellow {
		 display: block;
		 float: left;
		 margin: 0 5px;
		 width: 8px;
		 height: 11px;
		 background-color: #f00;
		}

		.calendarcontainer .rnote .dq-yellow {
		 background-color: #ff0;
		}

	.calendarcontainer .rlinks {
	 margin: 1px 0;
	 padding: 2px;
	 background-color: #eee;
	 font-size: 11px;
	 text-align: center;
	}

		.calendarcontainer .rlinks a {
		 font-size: 11px;
		}

.sponsors {
 margin: 20px 0;
}

.rmatch {
 margin: 20px auto 0 auto;
 width: 912px;
 border-bottom: 1px solid #009fd9;
}

	.rmatch .mline {
	 color: #fff;
	 font-size: 14px;
	 font-weight: bold;
	 text-align: center;
	}

		.rmatch .mline .team, .rmatch .mline .score, .rmatch .mline .separator {
		 float: left;
		 line-height: 20px;
		}

		.rmatch .mline .team {
		 padding: 0 10px;
		 width: 389px;
		 background-color: #009fd9;
		}

			.rmatch .mline .team.t1 {
			 text-align: right;
			}

			.rmatch .mline .team.t2 {
			 text-align: left;
			}

		.rmatch .mline .score {
		 margin: 0 1px;
		 width: 40px;
		 background-color: #1fb100;
		}

		.rmatch .mline .separator {
		 width: 10px;
		 background-color: #1fb100;
		}

	.rmatch .minfo {
	 margin: 1px 0;
	 padding: 2px;
	 background-color: #ddd;
	 font-size: 11px;
	 text-align: center;
	}

		.rmatch .minfo .time {
		 text-decoration: underline;
		}

	.rmatch .mteams {
	 font-size: 11px;
	}

		.rmatch .mteams .team {
		 float: left;
		 padding: 2px;
		 width: 400px;
		}

		.rmatch .mteams .team.t1 {
		 margin-right: 1px;
		}

		.rmatch .mteams .team.t2 {
		 float: right;
		 margin-left: 1px;
		}

			.rmatch .mteams .team .players, .rmatch .mteams .team .stats {
			 margin-bottom: 5px;
			 padding-left: 7px;
			 text-indent: -7px;
			}

	.rmatch .mnote {
	 margin: 1px 0;
	 padding: 2px;
	 background-color: #ddd;
	 font-size: 11px;
	}

	.rmatch .mlinks {
	 margin: 1px 0;
	 padding: 2px;
	 background-color: #eee;
	 font-size: 11px;
	 text-align: center;
	}

		.rmatch .mlinks a {
		 font-size: 11px;
		}
