.partner {
 margin-top: 10px;
 text-align: center;
}

.links {
 margin: 10px auto;
 text-align: center;
}

	.links a {
	 font-weight: bold;
	}

.teamslist {
 margin: 10px 0;
}

.teamcontainer {
 margin: 10px 0;
 padding: 5px 0;
 border-bottom: 1px dotted #009fd9;
}

	.teamcontainer .tlogo {
	 float: left;
	 width: 100px;
	}

	.teamcontainer .tinfo {
	 margin-left: 120px;
	}

		.teamcontainer .tinfo .name {
		 margin-bottom: 5px;
		 color: #1fb100;
		 font-size: 14px;
		 font-weight: bold;
		 text-decoration: underline;
		}

		.teamcontainer .tinfo .players {
		 margin-bottom: 5px;
		}

		.teamcontainer .tinfo .stats {}