<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>IT - лига</title>
<link rel="stylesheet" type="text/css" href="css/main.css" />
<!--[if IE]>
  <link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->
<!--[if lt IE 9]>
  <script src="js/html5.js"></script>
<![endif]-->
</head>
<body>
	<div id="container">
			<header>
                <nav>
                    <ul>
                       <li><a href="#"><span>Спонсоры</span></a></li>
                        <li><a href="#"><span>Документы</span></a></li>
                        <li><a href="#"><span>Спонсорские пакеты</span></a></li>
                        <li><a href="#"><span>Контакты</span></a></li>
                    </ul>
                </nav>
                <a href="#" id="logo"></a>
                <h2>Идет набор команд на следующий сезон,<br />
                который стартует в сентябре 2012 <a href="#">Подать заявку</a></h2>
                <h3>Партнеры турнира:</h3>
                <section class="partners">
                    <a href="#"><img src="images/foot_kh_ua.gif" width="157" height="45" alt="" /></a>
                    <a href="#"><img src="images/shop_foot.gif" width="180" height="45" alt="" /></a>
                    <a href="#"><img src="images/dou.gif" width="120" height="45" alt="" /></a>
                </section>
            </header><!-- end header -->
			<section id="wrapper">
                    {{ content }}
            </section>
    </div>
    <footer>
        <p class="copy">2012&copy; IT — Лига Все права защищены</p>
	</footer><!-- end footer -->
</body>
</html>
