<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>IT - лига</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="container">
    <header>
        <nav>
            <ul>
                <li><a href="/sponsors.html"><span>Спонсоры</span></a></li>
                <li><a href="/docs"><span>Документы</span></a></li>
                <li><a href="/sponsor-packages.html"><span>Спонсорские пакеты</span></a></li>
                <li><a href="/contacts.html"><span>Контакты</span></a></li>
            </ul>
        </nav>
        <a href="/" id="logo"></a>
        <h2>Сезон Refuctoring стартует 16 сентября! </h2>
        <!-- <h2>Идет набор команд на следующий сезон,<br />
            который стартует в сентябре 2012 <a href="#">Подать заявку</a></h2> -->
        <h3>Партнеры турнира:</h3>
        <section class="partners">
            <a href="http://football.kharkov.ua/" target="_blank"><img src="images/foot_kh_ua.gif" width="157" height="45" alt="football.kharkov.ua" /></a>
            <a href="http://shop.football.kharkov.ua/" target="_blank"><img src="images/shop_foot.gif" width="180" height="45" alt="shop.football.kharkov.ua" /></a>
            <a href="http://dou.ua/" target="_blank"><img src="images/dou.gif" width="120" height="45" alt="dou.ua" /></a>
        </section>
    </header><!-- end header -->
    <section id="wrapper">
    	<section class="post block_post">
    		{{content}}
    	</section>		
    </section><br /><br />
            <!-- <h2>Спонсоры турнира:</h2>
            <section class="banners">
                <a href="#"><img src="images/ban_1.gif" width="212" height="109" alt="" /></a>
                <a href="#"><img src="images/ban_2.gif" width="212" height="109" alt="" /></a>
                <a href="#"><img src="images/ban_3.gif" width="212" height="109" alt="" /></a>
                <a href="#"><img src="images/ban_4.gif" width="212" height="109" alt="" /></a>
            </section> -->
        <!-- </section> -->
</div>
        <footer>
            <p class="copy">2009-2013&copy; IT—Лига Все права защищены</p>
        </footer><!-- end footer -->
</body>
</html>
